<!-- 分类页模板 -->
<div class="category-container">
  <h1 class="page-title">
    <i class="fa fa-folder"></i> 分类
  </h1>
  
  <!-- 分类列表 -->
  <div class="category-list">
    <% site.categories.sort('name').each(function(category){ %>
      <div class="category-item">
        <a class="category-link" href="<%- url_for(category.path) %>">
          <span class="category-name"><%= category.name %></span>
          <span class="category-count"><%= category.posts.length %></span>
        </a>
      </div>
    <% }) %>
  </div>
  
  <!-- 当前分类下的文章列表 -->
  <% if (is_category()){ %>
    <div class="category-current">
      <h2 class="category-current-title">
        <i class="fa fa-folder-open"></i> <%= page.category %>
      </h2>
      
      <div class="post-list">
        <% page.posts.each(function(post){ %>
          <div class="post-item">
            <div class="post-info">
              <span class="post-date">
                <i class="fa fa-calendar"></i> <%= date(post.date, "YYYY-MM-DD") %>
              </span>
            </div>
            
            <h3 class="post-title">
              <a href="<%- url_for(post.path) %>"><%= post.title || '无标题' %></a>
            </h3>
            
            <div class="post-excerpt">
              <% if(post.excerpt) { %>
                <%- post.excerpt %>
              <% } else { %>
                <%- truncate(strip_html(post.content), {length: 150, omission: '...'}) %>
              <% } %>
            </div>
            
            <div class="post-more">
              <a href="<%- url_for(post.path) %>" class="read-more">阅读更多</a>
            </div>
          </div>
        <% }) %>
      </div>
      
      <!-- 分页 -->
      <% if (page.total > 1){ %>
        <div class="pagination">
          <%- paginator({
            prev_text: '<i class="fa fa-angle-left"></i>',
            next_text: '<i class="fa fa-angle-right"></i>',
            mid_size: 1
          }) %>
        </div>
      <% } %>
    </div>
  <% } %>
</div>
